@import ".././css/normalize.css";
@import "./vars/_fonts.scss";

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'opensans', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #636363;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*.container {
    margin: 0px auto;
    @media (min-width: 1023px) {
        max-width: 1170px;
    }
}*/
[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 769px) and (max-width: 1199px) {
  [class*="__container"]{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px ;
  }
}


.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  background: #3399E0;
  appearance: none;
  cursor: pointer;
  text-align: center;
  color: #EDF5FA;
}
.button_small {
  padding: 7.5px 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
.text_large{
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
  color: #333333;
}
.text_medium{
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
.text_blue{
  color:#66CCFF;
}

