<template>
  <section class="advantages">
    <div class="advantages__container">
      <div class="advantages__item" v-for="(advList, index) in advLists" :key="index">
        <img class="advantages__logo"  :src="require(`../assets/main/${advList.info.icon}.svg`)" svg-inline alt="">
        <span class="advantages__text">{{advList.info.text}}</span>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Advantages',
  data() {
    return {
      advLists: [
        {
          info: {
            icon: "01",
            text: "Прозрачное ценообразование и выгодный подсчет трафика по 95-му перцентилю"
          }
        },
        {
          info: {
            icon: "02",
            text: "Прозрачное ценообразование и выгодный подсчет трафика по 95-му перцентилю"
          }
        },
        {
          info: {
            icon: "03",
            text: "Прозрачное ценообразование и выгодный подсчет трафика по 95-му перцентилю"
          }
        },
        {
          info: {
            icon: "04",
            text: "Прозрачное ценообразование и выгодный подсчет трафика по 95-му перцентилю"
          }
        },
        {
          info: {
            icon: "05",
            text: "Прозрачное ценообразование и выгодный подсчет трафика по 95-му перцентилю"
          }
        },
        {
          info: {
            icon: "06",
            text: "Прозрачное ценообразование и выгодный подсчет трафика по 95-му перцентилю"
          }
        },
      ]
    }
  }
}
</script>
<style lang="scss">
.advantages {
  background-color: #2C3E50;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #F7F7F7;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 11px 0 140px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 330px;
    margin-bottom: 30px;

    &:not(:nth-child(3n+3)) {
      margin-right: 30px;
    }
  }

  &__logo {

  }

  &__text {
    max-width: 278px;
  }

}
</style>
