<template>
  <div>
    <div class="container">


      <VueSlickCarousel :arrows="true" :dots="true">
        <div class="swiper">
          <div class="swiper-img">
            <img src="../assets/main/carusel.png" alt="">
          </div>
          <div class="swiper-text">
            Интернет-магазинам, маркетплейсам и агрегаторам объявлений больше не страшны DDoS-атаки конкурентов
          </div>
        </div>

        <div>2</div>
        <div>3</div>
        <div>4</div>
      </VueSlickCarousel>


    </div>


  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  name: 'MyComponent',
  components: {VueSlickCarousel},
}
</script>
<style>
.swiper {
  display: flex;
}

.swiper-img {
  min-width: 0;
}
</style>
