<template>
  <section class="feedback">
    <div class="feedback__container">
      <div class="feedback__content">
        <div class="feedback__content-header">
          <h2 class="feedback__content-header-caption">Остались вопросы?</h2>
          <p class="feedback__content-header-text">Задайте вопрос и мы свяжемся с вами для консультации</p>
        </div>

        <div class="feedback__content-input">
          <div class="feedback__content-input-domen">
            <span class="email-text">Домен</span>
            <input class="domen" v-model="message" type="text">
            <div class="wrapper__domen">
              <span>Текст подсказки</span>
              <span >{{length}}/22</span>
            </div>

          </div>
          <div class="feedback__content-input-email">
            <span class="email-text">Ваш E-mail</span>
            <input class="email email_smal" type="text">
          </div>

        </div>
        <input class="email email_big" type="text">
        <div class="feedback__content-captcha">
          <input class="captcha" type="checkbox" name="a" value="1417">
          <span>I’m not a robot</span>
        </div>
        <div class="feedback__content-agree">
          <input class="agree" type="checkbox" name="a" value="1417">
          <span>Я даю свое согласие на обработку моих персональных данных</span>
        </div>
        <div class="feedback__content-button button">Отправить</div>
      </div>

      <div class="feedback__image">
        <img src="../assets/main/men.png" alt="">
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Feedback',
  data() {
    return {
      message: ""
    }
  },
  computed: {
    length: function () {
      return this.message.length;
    }
  }
}


</script>

<style lang="scss">
.wrapper__domen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
}

.feedback {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 107px 0 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 570px;
    width: 100%;

    &-header {
      margin: 0 0 20px 0;

      &-caption {
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 25px;
        color: #333333;
        margin: 0 0 10px 0;
      }

      &-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #999999;
      }
    }

    &-input {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 0 20px 0;

      &-domen {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 30px 0 0;
        flex-grow: 1;

        .domen-text {
          position: absolute;
          background-color: #FFFFFF;
          padding: 0 5px;
          left: 17px;
          top: -4px;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #999999;

        }


      }

      &-email {
        position: relative;
        display: flex;
        flex-grow: 1;
      }

      .email-text {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #999999;
        position: absolute;
        background-color: #FFFFFF;
        padding: 0 5px;
        left: 17px;
        top: -4px;
      }


    }

    &-captcha {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid #D6D6D6;
      box-sizing: border-box;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.101138);
      border-radius: 3px;
      height: 76px;
      width: 303px;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin: 0 0 30px 0;

      .captcha {
        height: 28px;
        width: 28px;
        margin-right: 12px;
        margin-left: 20px;

      }
    }

    &-agree {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #636363;
      margin: 0 0 16px 0;

      .agree {
        margin: 0 10px 0 0;
        width: 15px;
        height: 15px;
      }
    }

    &-button {
      padding: 10px 43px;
      box-shadow: 0px 10px 15px rgba(51, 153, 224, 0.3);
      border-radius: 5px;
    }
  }

  &__image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

input[type="text"] {
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 16px;
  width: 100%;

  &:focus {
    outline-color: #3399E0;
  }
}

.email {
  margin: 0 0 41px 0;
}

.email_big {
  max-height: 107px;
  height: 100%;
}
</style>
