<template>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__top">
        <div class="footer__top-inner">
          <div class="footer__top-contacts">
            <h3 class="footer__top-contacts-title">ООО «ДДОС-ГВАРД» </h3>
            <a href="tel:+74951234567">+8 (800) 333-17-63</a>
            <a href="tel:+74951234567">+8 (800) 333-17-63</a>
            <a href="mailto:ask@htmlbook.ru">info@ddos-guard.net</a>
          </div>
          <div class="footer__top-social">
            <h3 class="footer__top-social-title">Присоединяйтесь к нам:</h3>
            <div class="footer__top-social-list" >
              <a class="footer__top-social-link" href="#" v-for="icon in footerSocials.icons">
                <img  :src="require(`../assets/image/${icon}.svg`)"   alt="">
              </a>


            </div>
          </div>
        </div>

        <div class="footer__block" v-for="(footerList, index) in footerLists">
          <h3 class="footer__block-title">{{ footerList.title }}</h3>
          <ul class="footer__block-list">
            <li class="footer__block-item" v-for="item in footerList.items">
              <a href="#">{{ item }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__content">
        <div class="footer__content-сopyright">
         <span>© 2011-2021 DDoS-Guard. Все права защищены</span>
          <img src="../assets/image/foundation_rss.svg" alt="">
        </div>
        <div class="footer__content-items">
          <img  :src="require(`../assets/image/${method}.png`)" v-for="method in payment.methods"    alt="">
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'Footer',
  data() {
    return {
      footerContacts: [
        {
          title: "ООО «ДДОС-ГВАРД» ",
          contacts: ["8 (800) 333-17-63", "7 (495) 215-03-87", "info@ddos-guard.net"],
        }
      ],
      footerSocials:
        {
          title: "Присоединяйтесь к нам:",
          icons: ["instagram", "instagram", "instagram","instagram",],
        },
      footerLists: [
        {
          title: "Продукты и решения",
          items: ["Защита и ускорение сайтов", "Защита сети", "Защищенный хостинг", "Защищенные VDS", "Защищенные выделенные серверы", "SSL-сертификаты", "WAF", "Bot-Mitigation"]
        },
        {
          title: "Поддержка",
          items: ["Инструкции", "Политика использования", "Политика обработки персональных данных", "Соглашение об оказании услуг"]
        },
        {
          title: "DDoS-Guard",
          items: ["Компания", "Карьера", "Блог", "Контакты"]
        },
      ],
      payment: {
        methods: ["visa","visa","visa","visa","visa",]
      },
    }
  }
}
</script>
<style lang="scss">
.footer {
  background-color: #2C3E50;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding: 45px 0;
  }

  &__block {

    &-title {
      font: {
        style: normal;
        weight: 600;
        size: 15px;
      }
      line-height: 25px;
      color: #FFFFFF;
    }

    &-list {

    }

    &-item a {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 25px;
      color: #A6B1BD;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top:1px solid #A6B1BD;
  }
}
.footer__top-social-title{
  margin: 0 0 10px 0;
}
.footer__top-social-link {
  margin: 0 11px 0 0;
}
.footer__top-contacts {
  display: flex;
  flex-direction: column;
}
.footer__top-social-list {
  display: flex;
}
.footer__content-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

</style>
