<template>
  <section class="ad-list">
    <div class="ad-list__container">
      <div class="ad-list__inner">
        <h2 class="ad-list__title">Нам доверяют</h2>
        <div class="ad-list__list" >
          <img :src="require(`../assets/main/${iconList}.svg`)" svg-inline v-for="iconList in iconLists" class="ad-list__item" alt="">
        </div>
      </div>

    </div>
      <!--    <img src="../assets/Main/rect.svg" class="ad-list__decor_1 decor_small" alt="">-->
      <!--    <img src="../assets/Main/rect.svg" alt="ad-list__decor_2">-->
      <!--    <img src="../assets/Main/rect.svg" alt="ad-list__decor_3">-->
  </section>
</template>
<script>
export default {
  name: 'Frame',
  data() {
    return {
      iconLists: ["arg","arg","arg","arg","arg","arg",]
    }
  }
}
</script>
<style lang="scss">
.ad-list {
  background-color: #2C3E50;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;


  }
  &__inner{
    padding: 84px 0 78px 0;
  }
  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 80px;
    text-align: center;

  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px;
  }

  &__item {
    display: block;
  }

  &__decor_1 {
    position: absolute;
    position: absolute;
    left: 74.77%;
    right: -54.49%;
    top: 100%;
    bottom: -75.86%;
    background: rgba(220, 255, 236, 0.5);
    opacity: 0.35;
    transform: rotate(-159.7deg);
  }
}


</style>
