<template>

      <section class="guard">
        <div class="guard__container">
          <div class="guard__content">
            <div class="block-text">
            <h1 class="block-text__title text_large">
              Защита сети от DDoS-атак
            </h1>
            <div class="block-text__text">
              <p class="block-text__par_1">DDoS-Guard обеспечивает защиту сетевой инфраструктуры и оптимальную маршрутизацию трафика.</p>
             <p class="block-text__par_2">Вы пользуетесь услугой, уменьшая затраты на развёртывание и содержание службы технической поддержки.</p>
            </div>
            <a href="" class="block-text__button button button_big">
              Подключить сейчас
            </a>
            </div>
          </div>
          <div class="guard__image">

            <img src=".././assets/main/guard.png">
          </div>
        </div>
      </section>

</template>
<style lang="scss">
.guard{
  padding: 236px 0 326px 0 ;
&__container{
  display: flex;
}
  &__content{
    flex: 0 1 50%
  }
  &__image{
    flex: 0 1 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
}
.block-text{
  &__title{
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 60px;
  }
  &__button{
    font-weight: 450;
    font-size: 18px;
    line-height: 35px;
    color: #EDF5FA;
  }
}
.button_big{
  padding: 10px 24.5px;
}
</style>
