<template>
  <header class="header" :class="{ 'active': active }">
    <div class="header__wrapper">
      <a href="" class="header__logo">
        <img :src="require(`../assets/header/${logoItem.urlImg}.svg`)"
            svg-inline
            alt="Логотип"
            v-for="(logoItem, index) in logoImg"
        >
      </a>
      <nav class="header__menu">
        <ul class="menu__list">
          <li class="menu__item"
              v-for="(menuItem, index) in menu"
              :key="index">
            <a :href="menuItem.url"
                @click="changeHandleHeader()"
                class="menu__link">
              <span>{{ menuItem.title }}</span>
              <img src="../assets/Header/arrow-right.svg" svg-inline alt="">
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__system">
        <div class="system__wrapper">
          <span class="system__icon"><img src="../assets/Header/ruble-sign.svg" svg-inline alt="Рубль"></span>
          <span class="system__item">RUB</span>
          <span class="system__arrow"><img src="../assets/Header/arrow-right.svg" svg-inline alt="Открыть"></span>
        </div>
        <div class="system__wrapper">
          <span class="system__icon"><img src="../assets/Header/ruble-sign.svg" svg-inline alt="Россия"></span>
          <span class="system__item">RUS</span>
          <span class="system__arrow"><img src="../assets/Header/arrow-right.svg" svg-inline alt="Открыть"></span>
        </div>
        <div class="system__button">
          <a href="" class="button button_small">Личный кабинет</a>
        </div>
        <Burger
            :active="active"
            @changeHandleHeader="changeHandleHeader()"
        />
      </div>
    </div>
    <Product
        v-if="active"
        :menu="menu"
    />
  </header>
</template>
<script>
import Product from "@/components/Product";
import Burger from "@/components/common/Burger";

export default {
  name: 'HeaderNew.vue',
  components: {
    Product, Burger
  },
  data() {
    return {
      active: false,
      logoImg: [
        {
          urlImg: 'logo_new',
        },
      ],
      menu: [
        {
          title: 'Продукты и решения',
          subtitle: 'Защитить',
          url: '#',
          items: [
            {
              title: 'Сайт',
              desc: 'Оптимизируем работу вашего сайта и обеспечим его максимальную доступность.',
              url: '#',
            },
            {
              title: 'Сайт',
              desc: 'Оптимизируем работу вашего сайта и обеспечим его максимальную доступность.',
              url: '#',
            },
          ],
        },
        {
          title: 'Информация',
          subtitle: 'Защитить',
          url: '#',
          items: [
            {
              title: 'Сайт',
              desc: 'Оптимизируем работу вашего сайта и обеспечим его максимальную доступность.',
              url: '#',
            },
            {
              title: 'Сайт',
              desc: 'Оптимизируем работу вашего сайта и обеспечим его максимальную доступность.',
              url: '#',
            },
            {
              title: 'Сайт',
              desc: 'Оптимизируем работу вашего сайта и обеспечим его максимальную доступность.',
              url: '#',
            },
          ],
        },
        {
          title: 'Продукты и решения 3',
          subtitle: 'Защитить',
          url: '#',
          items: [
            {
              title: 'Сайт',
              desc: 'Оптимизируем работу вашего сайта и обеспечим его максимальную доступность.',
              url: '#',
            },
            {
              title: 'Сайт',
              desc: 'Оптимизируем работу вашего сайта и обеспечим его максимальную доступность.',
              url: '#',
            },
            {
              title: 'Сайт',
              desc: 'Оптимизируем работу вашего сайта и обеспечим его максимальную доступность.',
              url: '#',
            },
          ],
        },
      ],
      currencies: [
        {
          title: 'RUB',
          slug: 'ru',
        },
        {
          title: 'USD',
          slug: 'usd',
        },
      ],
    };
  },
  computed: {
    classObject: function () {
      return {}
    }
  },
  methods: {
    changeHandleHeader() {
      this.active = !this.active;
    },
  },
}
</script>
<style lang="scss">

.header.active {
  .dropdown-wrapper {
    cursor: pointer;

    svg {
      transform: rotate(180deg);
      transition: top 3s ease-out 3s;
    }
  }
}

.header {
  padding: 20px;


  &__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
  }

  &__logo {

  }

  &__menu {
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 910px) {
      display: none;
    }

    .menu__item {
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 3px solid #0589E5;
      }
    }

    .menu__list {
      display: flex;
      gap: 40px
    }

    .menu__link {
      font-size: 15px;
      font-weight: 600;
      line-height: 40px;
      color: #636363;

      span {
        margin-right: 10px;
      }
    }
  }

  &__system {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
  }

  .system__wrapper {
    display: flex;
    gap: 10px;
    color: #333333;
    text-align: center;
    align-items: center;


    .system__button {
      color: #FFFFFF;
    }

    .system__item {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 40px;
    }
  }
}

</style>
