<template>
  <section class="opport">
    <div class="opport__container">
      <h2 class="opport__title">Технологические возможности</h2>
      <div class="opport__header">

        <div class="opport__content">

          <div class="opport__figure">
            <img src="../assets/main/Ellipse210.svg" svg-inline alt="">
            <div class="opport__figure-guard">
              <img src="../assets/main/gear.svg" svg-inline alt="">
            </div>
          </div>

          <div class="opport__list">
            <div class="opport__item" v-for="opList in opLists">
              <div class="opport__item-icon"><span>{{ opList.item.iconText }}</span></div>
              <h3 class="opport__item-title">{{ opList.item.title }}</h3>
              <span class="opport__item-desc">{{ opList.item.desc }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="opport__footer">
        <div class="opport__footer-content">
          <h2 class="opport__footer-title">Дополнительные возможности для интернет-провайдеров</h2>
          <span class="opport__footer-desc">
    Предлагаем вариант прямого реселлинга с использованием бренда <span
              class="text_blue">DDoS-Guard</span> или через <span class="text_blue">White Label.</span>
  </span>
          <div class="opport__footer-button button button_big">Связаться с нами</div>
        </div>
        <div class="opport__footer-img">
          <img src="../assets/main/decor.svg" svg-inline alt="">
          <div class="opport__footer-img_overlay">
            <img src="../assets/main/union.svg" svg-inline alt="">
          </div>

        </div>
      </div>


    </div>
  </section>
</template>
<script>
export default {
  name: 'Opport',
  data() {
    return {
      opLists: [
        {
          item: {
            iconText: "L3-L4",
            title: "Защита корпоративной сети на уровне L3-L4 OSI",
            desc: "Фильтрация трафика от всех известных видов DDoS-атак",
          }
        },
        {
          item: {
            iconText: "L3-L4",
            title: "Защита корпоративной сети на уровне L3-L4 OSI",
            desc: "Фильтрация трафика от всех известных видов DDoS-атак",
          }
        },
        {
          item: {
            iconText: "L3-L4",
            title: "Защита корпоративной сети на уровне L3-L4 OSI",
            desc: "Фильтрация трафика от всех известных видов DDoS-атак",
          }
        },
        {
          item: {
            iconText: "L3-L4",
            title: "Защита корпоративной сети на уровне L3-L4 OSI",
            desc: "Фильтрация трафика от всех известных видов DDoS-атак",
          }
        },
        {
          item: {
            iconText: "L3-L4",
            title: "Защита корпоративной сети на уровне L3-L4 OSI",
            desc: "Фильтрация трафика от всех известных видов DDoS-атак",
          }
        },
        {
          item: {
            iconText: "L3-L4",
            title: "Защита корпоративной сети на уровне L3-L4 OSI",
            desc: "Фильтрация трафика от всех известных видов DDoS-атак",
          }
        },

      ]
    }
  }
}
</script>
<style lang="scss">
.opport {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
  }

  &__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 140%;
    color: #333333;
    max-width: 400px;
    text-align: left;

  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__figure {
    display: flex;
    max-width: 270px;
    width: 100%;
    margin-right: auto;
    margin-top: 50px;
    position: relative;

    &-guard {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 370px;
    flex-wrap: wrap;
    margin-left: 30px;

    &tr:nth-child(2n+1) {
      margin-left: 30px;
    }

    &-icon {
      width: 75px;
      height: 75px;
      position: relative;
      border-radius: 50%;
      border: 1px solid #3399E0;
      box-sizing: border-box;
      cursor: pointer;
      margin-bottom: 12.5px;

      span {
        position: absolute;
        background: #3399E0;
        color: #FFFFFF;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        span {
          left: 50px;
        }
      }
    }

    &-title {
      max-width: 300px;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 25px;
      color: #333333;
      margin-bottom: 15px;
    }

    &-desc {
      max-width: 390px;
    }
  }

  &__header {
    display: flex;

  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #7F8FA1;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: #2C3E50;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 60px 50px 65px 55px;
    }

    &-title {
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 28px;
      line-height: 35px;
      color: #F7F7F7;
      max-width: 450px;
    }

    &-desc {
      margin-bottom: 45px;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      color: #F7F7F7;
      max-width: 350px;
    }

    &-button {
      display: flex;
      justify-content: center;
      margin-left: 85px;
    }

    &-img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &_overlay {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

  }
}


.techno {
  display: flex;

  &__caption {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }
}

.ellipse__wrapper {
  border: 1px solid #3399E0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  Width: 280px;
  Height: 280px;
  align-items: center;
}

.ellipse__inner {
  border: 1px solid #3399E0;
  box-sizing: border-box;
  border-radius: 100%;
  Width: 200px;
  Height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.crug {
  position: absolute;
  bottom: 27px;
  right: 3px;
  border: 4px solid #FFFFFF;
  z-index: 2;
}

.gear {

}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 85px;

}

.list-item__cap {
  max-width: 300px;
}

.list-item__desc {
  max-width: 300px;
}

.list-item {
  margin-bottom: 24.5px;
  min-width: 370px;

  .wrapper {
    margin-bottom: 20px;
  }

  &__circle_big {
    border-radius: 100px;
    width: 70px;
    height: 70px;
    border: 1px solid #3399E0;
    position: relative;


  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #3399E0;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }


}

</style>
