<template>
  <section class="our-ap">
    <div class="our-ap__container">
      <div class="our-ap__head">
        <h2 class="our-ap__head-title">Наш подход к безопасности</h2>
        <span class="our-ap__head-desc">Защита. Скорость. Контроль.</span>
      </div>


      <div class="our-ap__content">
        <div class="our-ap__content-item" v-for="approach in approachs">
          <div class="our-ap__content-icon">
            <img src="../assets/Main/Geo-Map-Location.svg" svg-inline alt="Карта">
          </div>
          <div class="our-ap__content-text">
            <h3 class="our-ap__content-text-title">{{ approach.title }}</h3>
            <span class="our-ap__content-text-desc">{{ approach.desc }}</span>
            <!--                      <ul class="our-ap__content-text-list">-->
            <!--                        <li class="our-ap__content-text-item" v-for="country in approach.desc">-->
            <!--                          {{ country }}-->
            <!--                        </li>-->
            <!--                      </ul>-->

          </div>
        </div>
      </div>
      <div class="our-ap__footer">
        <div class="our-ap__footer-text">
          <span class="our-ap__footer-text-title">Непрерывная система контроля</span>
          <span class="our-ap__footer-text-desc">Наши эксперты обеспечивают круглосуточную защитусетевой инфраструктуры и готовы ответить на все вопросы в любое время 365 дней в году.</span>
        </div>
        <div class="our-ap__footer-image">
          <img src="../assets/image/men.png" alt="">
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'OurAp',
  data() {
    return {
      approachs: [
        {
          image: '',
          title: 'Защищаем на уровнях L3-L4 и L3-L7 без ограничения по количеству доменов',
          desc: 'Защищаем не только каналы и коммутационное оборудование, но и онлайн-сервисы вне зависимости от используемых протоколов. Предлагаем вам собственные современные технологии по защите, оптимизации и доставке контента.',
        },
        {
          image: '',
          title: 'Используем собственную геораспределенную сеть фильтрации',
          desc: ["РФ", "США", "Лондон",],
        },
        {
          image: '',
          title: 'Снижаем затраты с помощью облачной защиты',
          desc: 'Стоимость услуг облачной защиты значительно ниже, чем установка фильтрующего оборудования и найм узконаправленных специалистов. ',
        }
      ]
    };
  }
}
</script>
<style lang="scss">
.our-ap {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }

  &__head {
    margin: 0 0 62.5px 0;

    &-title {
      font-style: normal;
      font-weight: 450;
      font-size: 38px;
      line-height: 140%;
      color: #2C3E50;
      margin: 0 0 10px 0;
    }

    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #636363;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    &-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 0 150px 0;

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }
      &-text {
        max-width: 550px;
        width: 100%;
        text-align: left;
        &-title {
          font-style: normal;
          font-weight: normal;
          font-size: 26px;
          line-height: 140%;
          color: #333333;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &-desc {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 35px;
          color: #636363;
        }
      }




  }

  li::before {
    content: url("../assets/main/Vector.svg");

  }
  &__footer{
    background: #2C3E50;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 550px;
      width: 100%;
      margin: 55px 0 55px 80px;
      &-title{
        font-style: normal;
        font-weight: 450;
        font-size: 32px;
        line-height: 135%;
        color: #FFFFFF;
      }
      &-desc{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #EBECED;
      }
    }
  }
}

</style>
