<template>
  <header class="header-open">
    <div class="header__container">
      <div class="header-open__content">
        <div class="header-open__block"
             v-for="(menuItem, index) in menu"
             :key="index"
        >
          <div class="header-open__content-title">
            {{ menuItem.title }}
          </div>

          <div class="header-open__content-list"
          >
            <a :href="menuItemListItem.url" class="header-open__content-item"
               v-for="(menuItemListItem, index) in menuItem.items"
               :key="index"
            >
              <div class="header-open__content-item-title">
                {{ menuItemListItem.title }}
              </div>
              <div class="header-open__content-item-desc">
                {{ menuItemListItem.desc }}
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="header-open__blog">
        <div class="header-open__blog-title">
          <h2>НОВОЕ ИЗ БЛОГА</h2>
        </div>
        <a
            :href="newsItem.url"
           class="header-open__blog-list"
           v-for="(newsItem, index) in news"
           :key="index"
        >
          <div class="header-open__blog-item-title">
            {{ newsItem.title }}
          </div>
          <div class="header-open__blog-item-date">
            {{ newsItem.date }}
          </div>
          <div class="header-open__blog-item-tag">
            {{ newsItem.tag }}
          </div>
        </a>
    </div>
    </div>
  </header>
</template>
<script>
export default {
  name: 'Product',
  props: ['menu',],
  data() {
    return {
      news: [
        {
          title: 'news1',
          desc: 'CDN is a web content acceleration and user experience improvement service',
          date: '06 october 2021',
          tag: '#Cybersecurity',
          url: '#',
        },
        {
          title: 'news1',
          desc: 'CDN is a web content acceleration and user experience improvement service',
          date: '06 october 2021',
          tag: '#Cybersecurity',
          url: '#',
        },
        {
          title: 'news1',
          desc: 'CDN is a web content acceleration and user experience improvement service',
          date: '06 october 2021',
          tag: '#Cybersecurity',
          url: '#',
        },
      ],
    };
  },
}
</script>
<style lang="scss">
.header-open {
  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 31px 0 45px 0;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__content {
    &-title {
      color: #3399E0;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 30px;
      padding: 0 0 10px 0;
      margin: 0 0 25px 0;
      border-bottom: 1px solid #EBECED;
    }

    &-list {
      display: flex;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 0 30px 0;
      max-width: 286px;
      width: 100%;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
      }
    }
  }

  &__blog {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    width: 100%;

    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 30px;
      color: #333333;
      padding: 31px 40px 25px 30px;
    }

    &-list {
      padding: 0 0 0 30px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      padding: 15px;
      margin: 0 0 15px 0;

      &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
        margin-bottom: 5px;
      }

      &-date {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #636363;
        margin-bottom: 5px;
      }

      &-tag {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #3399E0;
      }
    }
  }
}
</style>
