<template>
  <div
      class="header__burger"
      :class="{'burger--close': active}"
      @click="changeHandleHeader()"
  >
    <div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'Burger.vue',
  props: [
      'active',
  ],
  methods: {
    changeHandleHeader() {
      this.$emit('changeHandleHeader');
    },
  }
}
</script>
<style lang="scss">
.header__burger {
  display: none;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;

  @media screen and (max-width: 910px) {
    display: block;
  }

  &:after, &:before, & > * {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #000;
  }

  &:after {
    top: 0;
  }

  &:before {
    bottom: 0;
  }

  & > * {
    //ПО СЕРЕДИНЕ ВЕРТИКАЛЬ
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.burger {

  &--close:before {
    transform: rotate(45deg);
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #999999;
  }

  &--close:after {
    transform: rotate(-45deg);
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #999999;
  }


  &--close > * {
    opacity: 0;
  }
}


</style>
