<template>
  <div class="slider__container">
    <div class="slider__head">
      <h2 class="slider__head-title">Кому необходим Anti-DDoS?</h2>
      <span
          class="slider__head-desc">Любой сети с собственным номером AS, которая расположена в любой точке мира.</span>
    </div>
    <div class="slider_nav">
      <ul class="slider_list">
        <li class="slider item" v-for="(sliderItem, index) in sliderItems" :key="index">{{ sliderItem }}</li>
      </ul>
    </div>

    <div class="swiper-container">

      <div class="swiper-wrapper">

        <div class="swiper-slide"
             v-for="(partner, index) in partners"
             :key="index"
        >
          <div class="swiper-slide__image">
            <img :src="require(`../../assets/image/${partner.img}.png`)" svg-inline alt="Логотип">
          </div>
          <div class="swiper-slide__text">
            <h3 class="swiper-slide__text-title"> {{ partner.title }}</h3>
            <span class="swiper-slide__text-desc"> {{ partner.desc }}</span>
          </div>
        </div>
      </div>
      <div class="swiper__service">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

    <div class="slider__footer">
      <h3 class="slider__footer-title">Выберите нашу защиту</h3>
      <span class="slider__footer-desc">Оцените простоту подключения услуги, эффективность отражения DDoS-атак  и круглосуточную техподдержку.
Получите доступ к отслеживанию атак, аналитике и отчетности в режиме ре
        ального времени. Перечисленные опции доступны в личном кабинете. Хотите узнать о возможностях и условиях тестового периода?
Просто перейдите по ссылке</span>
      <div class="slider__footer-block-button">
        <div class="button button_small">Попробовать бесплатно</div>
        <span class="footer-block-button__text">или</span>
        <div class="button button_small">Связаться с нами</div>
      </div>
    </div>


  </div>
</template>
<script>
import Swiper from 'swiper/bundle';
import 'swiper/swiper-bundle.css';

export default {
  name: 'Swiper',
  data() {
    return {

      sliderItems: ['E-commerce', 'E-commerce', 'E-commerce', 'E-commerce',],
      partners: [
        {
          img: 'carusel_1',
          title: 'Интернет-магазинам, маркетплейсам и агрегаторам объявлений больше не страшны DDoS-атаки конкурентов',
          desc: 'DDoS-атаки делают площадки для электронной торговлинедоступными ' +
              'ивынуждают ваших клиентов уходить на другие ресурсы. нашим решением ' +
              'по защите сетевой инфраструктуры вызабудете про DDoS-атаки, медленную ' +
              'отдачу контента и недоступность сайта даже в «Черную пятницу»',
        },
        {
          img: 'carusel_1',
          title: 'Интернет-магазинам, маркетплейсам и агрегаторам объявлений больше не страшны DDoS-атаки конкурентов',
          desc: 'DDoS-атаки делают площадки для электронной торговлинедоступными ' +
              'ивынуждают ваших клиентов уходить на другие ресурсы. нашим решением ' +
              'по защите сетевой инфраструктуры вызабудете про DDoS-атаки, медленную ' +
              'отдачу контента и недоступность сайта даже в «Черную пятницу»',
        },
        {
          img: 'carusel_1',
          title: 'Интернет-магазинам, маркетплейсам и агрегаторам объявлений больше не страшны DDoS-атаки конкурентов',
          desc: 'DDoS-атаки делают площадки для электронной торговлинедоступными ' +
              'ивынуждают ваших клиентов уходить на другие ресурсы. нашим решением ' +
              'по защите сетевой инфраструктуры вызабудете про DDoS-атаки, медленную ' +
              'отдачу контента и недоступность сайта даже в «Черную пятницу»',
        },
      ]
    }
  },
  mounted() {
    this.swiper = new Swiper('.swiper-container', {
      pagination: {
        el: ".swiper-pagination",
        type: "fraction",
        renderFraction: function (currentClass, totalClass) {
          return '<span class="' + currentClass + '"></span>'
              + ' из ' +
              '<span class="' + totalClass + '"></span>';
        },
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      slidesPerView: 1,
    });
    const swiper3 = new Swiper(".mySwiper3", {
      pagination: {
        el: ".swiper-pagination",
      },
    });
  }
}
</script>
<style lang="scss">
.slider__container {

}

.slider_list {
  display: flex;
  display: flex;
  justify-content: space-between;
}

.swiper-slide {
  display: flex;

  &__text-title {
    color: #3399E0;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &:after {
      content: '';
      border: 2px solid #3399E0;
      width: 40px;
      margin-top: 20px;
    }
  }

  &__text-desc {
    color: #636363;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
  }
}

.swiper-slide__image {
  padding: 23px;
}

.swiper-slide__text {
  display: flex;
  flex-direction: column;
  padding: 60px 50px 65px 30px;
}

.slider__head {
  display: block;
  text-align: center;

  &-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 140%;
    color: #2C3E50;
  }

  &-desc {
    color: #636363;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
}

.swiper-container {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(51, 153, 224, 0.90);
  border-radius: 15px;
}

.swiper-pagination-current {

}

.swiper-button-next {

}

.swiper__service {
  display: flex;
}

.slider__footer-title {
  color: #333333;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 22px;
}

.slider__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 100px 0;
}

.slider__footer-block-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.slider__footer-desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #636363;
  max-width: 1028px;
  margin-bottom: 30px;
}

.footer-block-button__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #636363;
}
</style>
