<template>
  <div id="app" class="wrapper">
    <HeaderNew/>
    <main class="main">
      <Guard/>
      <OurAp/>
      <Advantages/>
      <Opport/>
      <Frame/>
      <Feedback/>
      <Swiper/>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Guard from '@/components/Guard'
import Frame from '@/components/Frame'
import Connect from '@/components/Connect'
import Feedback from '@/components/Feedback'
import Footer from '@/components/Footer'
import Opport from '@/components/Opport'
import HeaderNew from '@/components/HeaderNew'
import Advantages from '@/components/Advantages'
import OurAp from '@/components/OurAp'
import Swiper from '@/components/common/Swiper'
import Burger from '@/components/common/Burger'

export default {
  name: 'App',
  components: {
    Frame, Connect, Feedback, Opport, Footer, HeaderNew, Guard, Advantages, OurAp, Swiper, Burger
  }
}
</script>

<style lang="scss">
#app {
}
</style>
