@import './_params.scss';
@import './_colors.scss';
@import './_screen.scss';

@font-face {
  font-family: 'opensans', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/opensans/OpenSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'opensans', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/opensans/OpenSans-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'opensans', sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/opensans/OpenSans-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'opensans', sans-serif;
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/opensans/OpenSans-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'opensans', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/opensans/OpenSans-Bold.ttf') format('ttf');
}


